#!/usr/bin/env bash

case "$1" in
  "")
    echo $"Usage: $0 {backup_set_name}"
    exit 1
    ;;

  *)
    if [ -n "${GITEA_BACKUP_CONFIG}" ]; then
      config_file=$(mktemp "${TMPDIR:-/tmp/}$(basename $0).XXXXXXXXXXXX")
      echo "$GITEA_BACKUP_CONFIG" | base64 -d > $config_file
      ansible-playbook -i /etc/ansible/hosts -i /ansible/inventories/all.ini -e "@${config_file}" /ansible/backup.yml
    elif [ -f "${GITEA_BACKUP_CONFIG_FILE}" ]; then
      ansible-playbook -i /etc/ansible/hosts -i /ansible/inventories/all.ini -e "@${GITEA_BACKUP_CONFIG_FILE}" /ansible/backup.yml
    elif [ -f "/config/gitea-backup/gitea-backup.yml" ]; then
      ansible-playbook -i /etc/ansible/hosts -i /ansible/inventories/all.ini  -e "@/config/gitea-backup/gitea-backup.yml" /ansible/backup.yml
    else
      ansible-playbook -i /etc/ansible/hosts -i /ansible/inventories/all.ini /ansible/backup.yml
    fi
    ;;

esac
